In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from scipy import signal

In [4]:
n1=pd.read_csv("data/Harmonic_n1_W1R_A001_VEL020_fs1000.csv")
n2=pd.read_csv("data/Harmonic_n2_W1R_A001_VEL020_fs1000.csv")
n3=pd.read_csv("data/Harmonic_n3_W1R_A001_VEL020_fs1000.csv")

Sx=(n1,n2,n3)
Sx[0].tail()

       t [s]  az NO FLAT [m/s2]  az WITH FLAT [m/s2]
8996  32.666          -9.799010            -9.653204
8997  32.667          -9.803764            -9.650483
8998  32.668          -9.798660            -9.654696
8999  32.669          -9.803680            -9.652433
9000  32.670          -9.816648            -9.695604